

footer{
    background-color: var(--primary-color);
    padding: var(--padding-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & img{
        width: 50px;
        aspect-ratio: 1;
        border-radius: var(--radius-small);
        filter: brightness(0.8);

        &:hover{
            filter: brightness(1);
        }
    }
}